<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogfile="c:\temp\personal-integrations-api-internal-nlog.txt"
  internalLogLevel="Error"
  throwConfigExceptions="true">

  <variable name="layout" value="${counter} | ${threadid} | ${identity} | ${date:format=yyyy-MM-dd HH\:mm\:ss.ff} | ${machinename} | ${level:uppercase=true} | ${stacktrace}| ${message} | ${exception:format=tostring}"/>
  <variable name="lastrunfile" value="${basedir}/Logs/LastRun.log" />
  <variable name="rollingfile" value="${basedir}/Logs/Rolling.log" />
  <variable name="archivefile" value="${basedir}/Logs/Archive/Archive-{#}.log" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
      <target name="debugger"
              xsi:type="Debugger"
              layout="${layout}"
            />

      <target name="lastrun"
              xsi:type="File"
              fileName="${lastrunfile}"
              deleteOldFileOnStartup="true"
              createDirs="true"
              layout="${layout}"
            />

      <target name="rolling"
              xsi:type="File"
              fileName="${rollingfile}"
              archiveFileName="${archivefile}"
              createDirs="true"
              archiveEvery="Day"
              maxArchiveFiles="7"
              archiveNumbering="Rolling"
              concurrentWrites="true"
              layout="${layout}"
            />
    <target name="db"
            xsi:type="Database"
            connectionString="${var:mynlogconnectionstring}"
            commandType="StoredProcedure"
            commandText="[dbo].[NLog_AddEntry_p]"
    >
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@siteName"       layout="${iis-site-name}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@username"       layout="${aspnet-user-identity}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@serverName"     layout="${aspnet-request-host}" />
      <parameter name="@port"           layout="${sticos-port}" />
      <parameter name="@url"            layout="${sticos-url}" />
      <parameter name="@https"          layout="${sticos-https}" />
      <parameter name="@serverAddress"  layout="${sticos-server-ip}" />
      <parameter name="@remoteAddress"  layout="${aspnet-request-ip}" />
      <parameter name="@callSite"       layout="${callsite}" />
      <parameter name="@threadId"       layout="${threadid}" />
      <parameter name="@customerId"     layout="${aspnet-item:variable=CustomerId}" />
      <parameter name="@systemUserId"   layout="${aspnet-item:variable=SystemUserId}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
      <parameter name="@data"           layout="${mdc:item:Data}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="debugger" />
    <logger name="Microsoft.*" maxLevel="Warn" final="true" />
    <logger name="*" minlevel="Info" writeTo="lastrun" />
    <logger name="*" minlevel="Warn" writeTo="rolling" />
    <logger name="*" minlevel="Warn" writeTo="db" />
  </rules>
</nlog>
