<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
    Sticos Personal
    <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <h6 class="dropdown-header">{{'layout.productSwitcher.otherProducts' | translate}}</h6>

    <li role="menuitem">
      <a class="dropdown-item" href="https://avstem.sticos.no" target="_blank">
        Sticos Avstemming
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="https://Likviditet.sticos.no" target="_blank">
        Sticos Likviditet
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="https://oppslag.sticos.no" target="_blank">
        Sticos Oppslag
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="https://kommune.sticos.no" target="_blank">
        Sticos Oppslag Kommune
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="https://rapport.sticos.no" target="_blank">
        Sticos Rapport
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="https://veiviser.sticos.no" target="_blank">
        Sticos Veiviser
      </a>
    </li>

    <div class="dropdown-divider" role="separator"></div>
    <h6 class="dropdown-header">Partner</h6>
    <li role="menuitem">
      <a class="dropdown-item" href="https://partner.sticos.no/" target="_blank">
        Partnerportal
      </a>
    </li>

    <li class="divider dropdown-divider"></li>
    <h6 class="dropdown-header">{{'layout.productSwitcher.homepage' | translate}}</h6>
    <li role="menuitem">
      <a class="dropdown-item" href="https://www.sticos.no" target="_blank">
        Sticos.no
      </a>
    </li>
  </ul>
</div>
