<div class="wrapper">
  <div class="card card-info">
    <div class="card-body">
      <div *ngIf="alert">
        <alert [type]="alert.type">{{ alert.message }}</alert>
      </div>

      <div class="integration-info justify-content-start">
        <div class="justify-content-start float-right integration-edit-header">
          <button class="btn btn-default" routerLink="/admin/integrations/">{{ 'common.back' | translate}}</button>
        </div>
        <div class="container float-left">
          <h3>{{ "integrations.edit.integration-title" | translate }}</h3>
          <br>
          <div class="row">
            <div class="col-xs-12 col-md-4 info-row-height">
              <span style="font-weight: bold;">{{ 'common.company' | translate }}: </span>
            </div>
            <div class="col-xs-12 col-md-4 info-row-height" *ngIf="integration">{{ integration.companyName }}</div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-4 info-row-height">
              <span style="font-weight: bold;">{{ 'common.category' | translate }}: </span>
            </div>
            <div class="col-xs-6 col-md-4 info-row-height" *ngIf="integration">
              {{ ('enum.integrationcategoryenum.' + integration.integration.category) | translate }}</div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-4 info-row-height">
              <span style="font-weight: bold;">{{ 'integrations.common.external-system' | translate }}: </span>
            </div>
            <div class="col-xs-6 col-md-4 info-row-height" *ngIf="integration">{{ ('enum.externaleconomysystem.' + integration.integration.externalSystem) | translate }}
            </div>
            <div *ngIf="integration">
              <button type="submit" class="btn btn-default header-button" routerLink="/admin/integrations/absence/{{integration.integration.id}}">{{ 'integrations.edit.exported-absences-button' | translate}}
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-4 info-row-height">
              <span style="font-weight: bold;">{{ 'common.status' | translate }}: </span>
            </div>
            <div class="col-xs-6 col-md-4 info-row-height" *ngIf="integration">
              <i *ngIf="integration.integration.isActivated == true" class="far fa-check fa-lg valid"></i>
              <i *ngIf="integration.integration.isActivated == false" class="far fa-times fa-lg invalid"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
        <button type="submit" class="btn btn-primary footer-save-button" (click)="saveIntegrationEntities()" [disabled]="alert || isConfirmedRows">{{ 'common.save' | translate }}
          </button>
      <tabset>
        <tab [heading]="'integrations.edit.unit-mapping-tab' | translate" [disabled]="isConfirmedRows" (select)="onGetUnits()">
          <app-timereg-unit-mapping [(matchedUnits)]="matchedUnits" [externalUnits]="externalUnits" (tryMatchChange)="tryMatchUnits($event)"
            [integrationId]="integrationId" [isLoading]="isLoading || isUnitsLoading"></app-timereg-unit-mapping>
        </tab>
        <tab [heading]="'integrations.edit.absence-type-mapping-tab' | translate" [disabled]="isConfirmedRows" (select)="onGetAbsenceCodes()">
          <app-timereg-absence-type-mapping [(matchedAbsenceCodes)]="matchedAbsenceCodes" (tryMatchChange)="tryMatchAbsenceCode($event)" [externalAbsenceCodes]="externalAbsenceCodes"
            [integrationId]="integrationId" [isLoading]="isLoading || isAbsenceCodeLoading"></app-timereg-absence-type-mapping>
        </tab>
        <tab [heading]="'integrations.edit.employee-mapping-tab' | translate" [disabled]="isConfirmedRows" (select)="onGetEmployees()">
          <app-timereg-employee-mapping [(matchedEmployees)]="matchedEmployees" (tryMatchChange)="tryMatchEmployees($event)" [externalEmployees]="externalEmployees"
            [integrationId]="integrationId" [isLoading]="isLoading || isEmployeesLoading"></app-timereg-employee-mapping>
        </tab>
      </tabset>

    </div>
  </div>
</div>
