:host {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.integration-edit-header {
  margin-bottom: 10px;
}

.wrapper {
  height: 100%;
}

.card {
  display: flex;
  overflow: auto;
  height: auto;
  position: relative;
  width: auto;
}

card.card-info {
  height: auto;
}

.integration-info {
  font-size: 0.8em;
  line-height: 0.5;
  padding: 5px;
}

.info-row-height {
  min-height: 12px;
}

.valid {
  color: var(--success);
}

.invalid {
  color: var(--danger);
}

.header-button {
position: absolute;
right: 20px;
}

::ng-deep .tab-content {
  margin-top: 1%;
}

.footer-save-button {
 position: absolute;
 right: 1.25em;
 top: 15px;
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
  background-color: transparent !important;
}
