/* You can add global styles to this file, and also import other style files */

html,
body {
  display: block;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #efefef;
  overflow: hidden;

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  button:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

:root {
  touch-action: manipulation;
}

.not-mapped-bg {
  background-color: '#f4c0cd' !important;
}
